<!-- app/views/articles/_article.html.erb -->

<div>
  <h2 class="card-title"> <%= article.headline %> </h2>
  <h2 class="card-title"> <%= article.user.full_name %> </h2>
  <h2 class="card-title"> <%= article.id %> </h2>
</div>

