<div id="<%= dom_id article %>">
  <p>
    <strong>Headline:</strong>
    <%= article.headline %>
  </p>

  <p>
    <strong>Lead:</strong>
    <%= article.lead %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>

</div>
