<section class="flex flex-col m-20 px-10 border-2 border-gray-200 items-center justify-center rounded-lg">
  <h1 class="main-title">Create news</h1>
<div class="mb-10 w-full">
<%= render "form", article: @article %>

<div>
  <%= link_to "Back to news", articles_path %>
</div>

<br>
</div>
</section>