<!-- app/views/shared/_navbar.html.erb -->

<nav class="navbar">
    <ul>
    <li><%= link_to 'News', root_path %></li>
    <li><%= link_to 'Login', new_user_session_path %></li>
    
    <% if current_user %>
    <%= button_to "Logout", destroy_user_session_path, data: {turbo: "false"}, method: :delete %>
    <% end %>
  </ul>
</nav>
